img {
    height: 4vh;
    margin-right: 5px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-container {
    display: flex;
    /*border: solid 1px red;*/
    text-align: right;
    align-items: center;
    color: whitesmoke;
    position: fixed;
    bottom: 10px;
    right: 50px;
}

