.footer-container {
    display: flex;
    /*border: solid 1px red;*/
    text-align: right;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 50px;
}

/*Github icon*/
img {
    height: 4vh;
    margin-right: 5px;
}

a {
    color: #384a60;
    text-decoration: none;
    font-weight: bold;
}
