img {
    height: 4vh;
    margin-right: 5px;
}

a {
    font-weight: bold;
}

a:hover {
    cursor: pointer;
}

.footer-container {
    display: flex;
    /*border: solid 1px red;*/
    text-align: right;
    align-items: center;
    color: whitesmoke;
}

