.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url("/img/2.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 11vh;
}

h1 {
    color: #5293FB;
    padding-bottom: 30px;
}

.form {
    /*border: solid 1px red;*/
    display: flex;
    flex-direction: column;
    width: 40vw;
}

#title {
    margin-bottom: 15px;
    padding: 10px;
    font-size: larger;
    border-radius: 5px;
    border: 1px solid #5293FB;
    box-shadow: 0px 5px 5px 0px rgba(94, 52, 153, 0.32);


}

#text {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #5293FB;
    box-shadow: 0px 5px 5px 0px rgba(94, 52, 153, 0.75);
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #5293FB;
    padding: 12px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    box-shadow: 0px 5px 5px 0px rgba(94, 52, 153, 0.75);

    color: white;
    font-size: larger;

    transition-duration: 460ms;
}

button:hover {
    background-color: #ac75ff;
    transition-duration: 460ms;
}