.top-navigation-container {
    height: 8vh;
    border: solid 1px red;

    display: flex;
    flex-direction: row;
}

.top-navigation-container > section {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.logo {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #47607b;
}

.hamburger-menu-button {
    /*border: 1px solid red;*/
    border: none;
    height: 30px;
    width: 30px;

    background-color: transparent;
    background-image: url("/img/burgerMenuIcon.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;

}

/*.note-title {*/
/*    margin: 10px 0 10px 40vw;*/
/*}*/

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: rgb(115, 202, 241);
    background: linear-gradient(200deg, rgba(115, 202, 241, 1) 0%, rgb(178, 127, 255) 50%, rgba(255, 166, 238, 1) 100%);

    padding-top: 11vh;
}

h1 {
    color: white;
    padding-bottom: 30px;
}

.form {
    /*border: solid 1px red;*/
    display: flex;
    flex-direction: column;
    width: 45vw;
}

#title {
    margin-bottom: 20px;
    padding: 10px;
    font-size: larger;
    border-radius: 3px;
    border: none;
}

#text {
    padding: 10px;
    border-radius: 3px;
    border: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #7f48d1;
    padding: 12px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    box-shadow: 0px 5px 5px 0px rgba(94, 52, 153, 0.75);

    color: white;
    font-size: larger;

    transition-duration: 460ms;

}

button:hover {
    background-color: #ac75ff;
    transition-duration: 460ms;
}